/* Why 1 ---------------------------------- */ 
.video-area-1 {
    padding: 300px 0;
    background-attachment: fixed;
    @include xxl {
        padding: 250px 0;
    }
    @include ml {
        .play-btn-wrap.style2 {
            justify-content: center;
        }
    }
    @include lg {
        padding: 200px 0;
    }
    @include sm {
        padding: 150px 0;
    }
    @include xs {
        padding: 120px 0;
    }
}
.video-wrap {
    position: relative;
    .play-btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}